
.navbar li{
  display:inline-block;
  padding: 10px;
}
.navbar{
  background-color: black;
}
.navbar li a{
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}

.footer{
  background-color: black;
  color: white;
  position: absolute;
  bottom:0;
  width:100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputbox{
  display: block;
  margin:20px 0;
  border: 3px black solid;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-size: large;
  color: rgb(5, 119, 154)
}
.signup, .login {
  margin-left: 30%;
}
.signup button, .login button{
  border: 1px black solid;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  background-color: #61dafb;
  font-size: 16px;
  font-weight: bold;
}
